html, body {
    height: 100%;
}

body {
    background-image: url('../images/background.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.webWrapper {
    position: absolute;
    top: 0;
    left:0;
    right: 0;
    bottom: 80px;
    /*background-color: aqua;*/
    /*display: none;*/
}
#adfbWrapper {
    position: absolute;
    bottom: 65px;
    height: 50px;
    left: 0;
    right: 0;
}
#ad_up {
    width: 30px;
    height: 30px;
    background-image: url('../images/ad_up.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin: 0 auto;
}

#fb {
    position: absolute;
    left: 80px;
    bottom: 18px;
    width: 50px;
    height: 50px;
    background-image: url('../images/arthurlink_up.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin: 0 auto;
}

#footer {
    position: absolute;
    bottom: 0;
    height: 80px;
    left: 0;
    right: 0;
    /*background-color: rgba(0, 0, 0, 0.58);*/
}

#btnPause {
    position: absolute;
    left: 5px;
    bottom: 5px;
    width: 70px;
    height: 70px;
    background-image: url('../images/ic_pause.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: block;
}

#btnPlay {
     position: absolute;
    left: 5px;
    bottom: 5px;
    width: 70px;
    height: 70px;
    background-image: url('../images/ic_play.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: none;

}


#status_play {
    color: white;
    font-family: '正黑體';
    font-size: 14px;
    position: absolute;
    left: 150px;
    bottom: 33px;
    display: block;
}

#status_pause {
    color: white;
    font-family: '正黑體';
    font-size: 14px;
    position: absolute;
    left: 150px;
    bottom: 25px;
    display: none;
}


/*讀取畫面*/
.loading {
    background-color: rgba(0, 0, 0, 0.50);
    position: fixed;
    width: 100%;
    height: 100%;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    text-align: center;
    color: #eee;
    font-size: 24px;
    font-weight: 700;
    display: none;
}

    .loading img {
        width: 30px;
        margin: 60% auto 10px auto;
    }